@font-face {
  font-family: "Hanyi Wenhei";
  src: url(/fonts/zh-cn.ttf);
}

:root {
  font-size: 16px;
  font-family: "Hanyi Wenhei", sans-serif;
  --color-black: #3c3b37;
  --color-creamy-white: #f7e6b1;
  --color-darker-white: #7b642e;
  --color-white-front: #faf6f3;
  --color-white-back: #ebe8e0;
  --round-edge: 20px;
}

body {
  color: var(--color-black);
  background-color: var(--color-white-back);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--color-creamy-white);
}

body::-webkit-scrollbar-thumb {
  background: var(--color-darker-white);
}

.hero {
  height: 100vh;
  background-color: var(--color-white-back);
  display: flex;
}

.left-container {
  width: 20%;
  margin-left: 1.5rem;
  padding: 1.5rem;
}

.middle-container {
  padding: 1.5rem;
  display: flex;
  min-height: 100vh;
}

.right-container {
  margin-top: -18px;
  margin-left: 2rem;
  height: 100vh;
  padding: 1.5rem;
}