@import url("/styles/shared/shared.css");

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-black);
  background-color: var(--color-white-back);
  cursor: var(--genshin-cursor);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--color-creamy-white);
}

body::-webkit-scrollbar-thumb {
  background: var(--color-darker-white);
}

a {
  cursor: var(--genshin-cursor);
}

.hero {
  height: 100vh;
  background-color: var(--color-white-back);
  display: flex;
}

.left-container {
  width: 20%;
  margin-left: 1.5rem;
  padding: 1.5rem;
}

.middle-container {
  padding: 1.5rem;
  display: flex;
  min-height: 100vh;
}

.right-container {
  margin-top: -18px;
  margin-left: 2rem;
  height: 100vh;
  padding: 1.5rem;
}

.button-primary:hover {
  background-color: var(--color-darker-white);
  background-color: var(--color-creamy-white);
  border: 1px solid var(--color-black);
}

.button-primary:active {
  background: var(--color-darker-white);
  border-color: var(--color-darker-white);
  box-shadow: none;
}

.anchor-primary:hover {
  transform: scale(1.2);
}

.gallery-image:hover {
  transform: scale(1.01);
  box-shadow: 0 0 10px var(--color-darker-white);
}

@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
    height: auto;
  }

  .left-container,
  .right-container {
    width: 100%;
    margin: 0;
  }

  /* TODO: Please edit this future self I'm too lazy right now */
  .middle-container {
    width: 100%;
    padding: 1rem;
    min-height: auto;
    margin: 0 auto;
  }
}
