.loading-screen {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #19181d;
  justify-content: center;
  align-items: center;
  z-index: 5;
  opacity: 1;
  transition: opacity 1s ease;
}

.loading-screen img {
  width: 25%;
}

.loading-screen .hidden {
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 1024px) {
  .loading-screen img {
    width: 35%;
  }
}

@media (max-width: 768px) {
  .loading-screen img {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .loading-screen img {
    width: 70%;
  }
}