@font-face {
  font-family: "Hanyi Wenhei";
  src: url("../../fonts/zh-cn.ttf");
}

@font-face {
  font-family: "Hanyi Wenhei Drip";
  src: url("../../fonts/zh-cn-drip.ttf");
}

:root {
  font-size: 16px;
  font-family: "Hanyi Wenhei", sans-serif;
  --color-black: #3c3b37;
  --color-brown: #766d5f;
  --color-dark-brown: #7f5f44;
  --color-blue: #4a5067;
  --color-yellow: #dccba7;
  --color-orange-brown: #cbbca6;
  --color-creamy-white: #f7e6b1;
  --color-darker-white: #dec086;
  --color-white-front: #faf6f3;
  --color-white-back: #ebe8e0;
  --color-five-star: #c1814b;
  --color-four-star: #886ab4;
  --color-characters-section: #fdfbf8;
  --color-character-container: #fdf7ea;
  --color-border: #f7e6d4;
  --color-page-slice: #e0d4c3;
  --color-middle-dark: #e9e4dc;
  --color-photo-border: #f0ebe0;
  --color-icon-background: #d19d78;
  --color-page-shadow: #f0ebe1;
  --color-green: #a7b981;
  --round-edge: 20px;
  --circle-edge: 50px;
  --genshin-cursor: url("../../assets/art/cursor.png"), auto;
}