@font-face {
  font-family: "Hanyi Wenhei";
  src: url(/fonts/zh-cn.ttf);
}

@font-face {
  font-family: "Hanyi Wenhei Drip";
  src: url(/fonts/zh-cn-drip.ttf);
}

:root {
  font-size: 16px;
  font-family: "Hanyi Wenhei", sans-serif;
  --color-black: #3c3b37;
  --color-creamy-white: #f7e6b1;
  --color-darker-white: #dec086;
  --color-white-front: #faf6f3;
  --color-white-back: #ebe8e0;
  --color-five-star: #c1814b;
  --color-four-star: #886ab4;
  --color-characters-section: #fdfbf8;
  --color-character-container: #fdf7ea;
  --color-border: #f7e6d4;
  --round-edge: 20px;
}

.main {
  background-color: var(--color-characters-section);
}

.characters-heading {
  padding-top: 35px;
  margin-bottom: 30px;
  text-align: center;
  justify-content: center;
  padding-bottom: 15px;
  color: var(--color-black);
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-size: 35px;
  font-family: "Hanyi Wenhei Drip", sans-serif;
}

.characters-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 15px;
  width: 87.5%;
  margin-left: 2.5rem;
}

.character-container {
  border-radius: var(--round-edge);
  background-color: var(--color-character-container);
  border: 5px solid var(--color-border);
  text-align: center;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
}

.character-image-container {
  position: relative;
  overflow: hidden;
  border-radius: var(--round-edge);
}

.five-star {
  background-color: var(--color-five-star);
}

.four-star {
  background-color: var(--color-four-star);
}

.character-vision {
  position: absolute;
  top: 0;
}

.character-vision img {
  width: 40px;
  height: auto;
}

.character-rarity {
  position: absolute;
  bottom: 0;
  left: 50%; 
  transform: translateX(-50%);
}

.character-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--round-edge);
}

.character-profile {
  padding: 0;
  margin: 0;
  height: 7rem;
}

.character-profile h3 {
  margin: 12px 0 2px 0;
}

.character-title {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.character-view-button {
  background-color: var(--color-creamy-white);
  color: var(--color-black);
  border: 2px solid var(--color-darker-white);
  font-family: "Hanyi Wenhei", sans-serif;
  width: 10rem;
  height: 2.5rem;
  border-radius: var(--round-edge);
  cursor: pointer;
}

@media (max-width: 2000px) {
  .characters-grid {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (max-width: 1600px) {
  .characters-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1300px) {
  .characters-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1000px) {
  .characters-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 800px) {
  .characters-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 575px) {
  .characters-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .characters-grid {
    grid-template-columns: 1fr;
  }
}