@font-face {
  font-family: "Hanyi Wenhei";
  src: url(/fonts/zh-cn.ttf);
}

:root {
  font-size: 16px;
  font-family: "Hanyi Wenhei", sans-serif;
  --color-black: #3c3b37;
  --color-creamy-white: #f7e6b1;
  --color-darker-white: #dec086;
  --color-white-front: #faf6f3;
  --color-white-back: #ebe8e0;
  --round-edge: 20px;
}

.card {
  position: relative;
  width: 60rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-image {
  position: relative;
  width: 100%;
  height: 40rem;
  background-color: var(--color-white-front);
  border-radius: var(--round-edge);
  background-image: url(/assets/art/hero.png);
  background-size: cover;
  margin-bottom: 15px;
}

.shortcut-section {
  position: absolute;
  height: 12rem;
  width: calc(50% - 10px);
  background-color: var(--color-creamy-white);
  border-top: 14px solid var(--color-white-back);
  border-right: 14px solid var(--color-white-back);
  border-top-right-radius: var(--round-edge);
  border-bottom-left-radius: var(--round-edge);
  bottom: 0;
}