@import url("../../styles/shared/shared.css");

.search-section {
  margin: 0px 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border: 2px solid var(--color-darker-white);
  background-color: var(--color-creamy-white);
  cursor: var(--genshin-cursor);
}

.search-bar {
  background-color: var(--color-white-front);
  border-radius: var(--round-edge);
  border: none;
  height: 20px;
  width: 230px;
  padding: 10px 10px 10px 15px;
  margin-left: 10px;
  margin-top: auto;
  font-family: "Hanyi Wenhei", sans-serif;
}

.search-bar:focus {
  outline-color: var(--color-darker-white);
}

@keyframes pulse {
  0% {
    background-color: var(--color-creamy-white);
  }
  50% {
    background-color: var(--color-white-front);
  }
  100% {
    background-color: var(--color-creamy-white);
  }
}

.pulse-animation {
  animation: pulse 2s infinite;
}

.top-characters-section {
  background-color: var(--color-white-front);
  border-radius: var(--round-edge);
  padding: 1rem;
}

.gallery-header {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}

.gallery-header h4 {
  margin: 0;
  padding: 0;
}

.star-icon {
  width: auto;
  height: 16px;
  padding-left: 18px;
}

.top-characters-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery {
  margin: 3px 0 3px 0;
  border-radius: var(--round-edge);
}

.top-characters-gallery img {
  height: 160px;
  width: 230px;
  border-radius: var(--round-edge);
  object-fit: cover;
}

.bottom-line {
  display: flex;
  justify-content: center;
}

.mock-line {
  margin-top: 10px;
  width: 50px;
  height: 3px;
  border-radius: 50px;
  background-color: var(--color-darker-white);
}

@media (max-width: 768px) {
  .search-section {
    margin-bottom: 1rem;
  }

  .top-characters-gallery {
    flex-direction: row;
  }

  .gallery {
    margin: 5px;
  }

  .top-characters-gallery img {
    width: 100px;
    height: auto;
  }
}
