@import url("../../styles/shared/shared.css");

.card {
  position: relative;
  width: 60rem;
  min-height: 40rem;
  max-height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-image {
  position: relative;
  width: 100%;
  height: 40rem;
  background-color: var(--color-white-front);
  border-radius: var(--circle-edge);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../assets/art/hero.png");
  background-size: cover;
  background-position: center;
}

.video-section {
  position: absolute;
  height: 11rem;
  width: calc(50% - 20px);
  background-color: var(--color-creamy-white);
  border-top: 14px solid var(--color-white-back);
  border-right: 14px solid var(--color-white-back);
  border-top-right-radius: var(--circle-edge);
  border-bottom-left-radius: var(--circle-edge);
  bottom: 0;
  overflow: hidden;
}

.video-section video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.mute-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: none;
  padding: 10px;
  color: var(--color-white-front);
  width: 20px;
  cursor: var(--genshin-cursor);
}

.video-section img {
  filter: invert(1);
}

.overlay-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  opacity: 0.8;
  animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.intro-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: calc(50% - 50px);
  margin: 13rem 0 0 0.5rem;
}

.intro-container h1, 
.intro-container p {
  color: var(--color-white-back);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  margin: 0;
  padding: 0;
}

.intro-container p {
  font-size: 14px;
  width: 95%;
}

.see-button {
  margin-top: 8px;
  border: 2px solid var(--color-darker-white);
  background-color: var(--color-creamy-white);
  border-radius: var(--round-edge);
  cursor: var(--genshin-cursor);
  width: 12rem;
  height: 2.5rem;
}

.see-link {
  text-decoration: none;
  font-family: "Hanyi Wenhei", sans-serif;
  color: var(--color-black);
  border-color: var(--color-darker-white);
}

@media (max-width: 1024px) {
  .intro-container {
    margin-top: 1rem;
    padding: 10px;
    width: calc(100% - 2rem);
    max-width: none;
  }

  .card-image {
    height: auto;
    margin-bottom: 10px;
  }

  .video-section {
    height: 8rem;
    width: 100%;
    top: 16rem;
  }
}

@media (max-width: 768px) {
  .card {
    height: auto;
  }

  .intro-container {
    width: calc(100% - 2rem);
    max-width: none;
    padding: 1rem;
  }

  .card-image {
    height: auto;
    margin-bottom: 0;
  }

  .video-section {
    height: 10rem;
  }
}
