.nations {
  display: flex;
  flex-direction: column;
  gap: 0;
  z-index: 0;
}

.nation-container {
  position: relative;
  width: 100%;
  height: auto;
  display: inline-block;
}

.nation-image {
  width: 100%;
  object-fit: cover;
  height: 250px;
  display: block;
  filter: brightness(50%);
  transition: filter 0.3s ease-in-out;
}

.nation-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  opacity: 0.3;
}

.nation-container:hover .nation-image {
  filter: brightness(90%);
}

.nation-container:hover .nation-icon {
  opacity: 1.0;
}