@import url("../../styles/shared/shared.css");

.audio-controller {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.audio-button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid var(--color-darker-white);
  background-color: var(--color-creamy-white);
  cursor: var(--genshin-cursor);
}

.play-icon {
  width: 24px;
}

.navbar {
  right: 2rem;
  width: 5rem;
  height: calc(100vh - 3.9rem);
  position: fixed;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  z-index: 3;
}

.navbar-content {
  list-style: none;
  padding: 25px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-white-front);
  border-radius: 50px;
  height: calc(100vh - 10rem);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-icon {
  width: 24px;
  height: auto;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 4rem;
  color: var(--color-black);
  text-decoration: none;
}

@media (max-width: 1024px) {
  .navbar {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 0;
    flex-direction: row;
    justify-content: space-around;
  }

  .navbar-content {
    flex-direction: row;
    padding: 0;
    width: 100%;
    height: auto;
    border-radius: 0;
    box-shadow: none;
  }

  .nav-item {
    margin-bottom: 0;
    width: auto;
  }
}

@media (max-width: 768px) {
  .navbar {
    bottom: 0;
    left: 0;
    height: 5rem;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-white-back);
  }

  .navbar-content {
    flex-direction: row;
    height: 4rem;
    width: 80%;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 10px 10px 10px 0;
    background-color: var(--color-white-front);
    border-radius: 50px;
  }

  .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100%;
  }

  .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .audio-controller {
    margin: 0;
    width: 20%;
    display: flex;
    justify-content: center;
  }

  .audio-button {
    width: 60px;
    height: 60px;
  }

  .play-icon {
    width: 20px;
  }

  .nav-icon {
    width: 20px;
  }
}
