@import url("../../styles/shared/shared.css");

:root {
  --bg-image: url("../../assets/defaults/default-namecard.png");
}

body {
  font-family: "Hanyi Wenhei", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100dvh;
  margin: 0;
  background-color: var(--color-white-back);
  box-sizing: border-box;
  color: var(--color-brown);
  cursor: var(--genshin-cursor);
  overflow: hidden;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

hr {
  width: 90%;
  margin: 0;
  border: 1px solid var(--color-page-shadow);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  justify-content: center;
  align-items: center;
  z-index: 1000;
  pointer-events: auto;
}

.overlay-content {
  background-color: #fff;
  padding: 25px 25px 10px 25px;
  border-radius: 20px;
  position: relative;
  max-width: 600px;
  width: 90%;
  height: 70%;
  max-height: 70%;
  pointer-events: auto;
}

.description-text {
  max-height: 50vh;
  overflow-y: auto;
  padding-right: 5px;
}

.description-text::-webkit-scrollbar {
  width: 0.25rem;
}

.description-text::-webkit-scrollbar-track {
  background: var(--color-creamy-white);
}

.description-text::-webkit-scrollbar-thumb {
  background: var(--color-darker-white);
}

.book-container {
  width: 800px;
  height: 500px;
  background-color: var(--color-white-front);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  display: flex;
  position: relative;
  padding: 0 20px 0 20px;
  overflow: hidden;
}

.book-container::before, .book-container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15px;
  background-color: var(--color-page-shadow);
}

.book-container::before {
  left: 50%;
  transform: translateX(-50%);
}

.return-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 100;
}

.return-button {
  border-radius: 50%;
  border: 2px solid var(--color-page-slice);
  background-color: var(--color-character-container);
  cursor: var(--genshin-cursor);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.return-button:hover {
  border: 2px solid var(--color-white-front);
}

.return-button img {
  width: 50px;
  height: 55px;
}

.left-page, .right-page {
  width: 50%;
  padding: 5px 20px;
  box-sizing: border-box;
}

.left-page {
  border-right: 5px solid var(--color-white-front);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right-page {
  position: relative;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  border: 4px solid var(--color-border);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.character-cover {
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  overflow: hidden;
  z-index: 1;
  border-radius: 10px 10px 0 0; 
}

.character-cover .image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.character-icon {
  position: relative;
  top: -85px;
  z-index: 2;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-color: var(--color-icon-background);
  border: 3px solid var(--color-darker-white);
}

.character-icon .image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 6px solid var(--color-photo-border);
  box-sizing: border-box;
}

.name-container {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: -90px;
}

.character-name {
  font-size: 20px;
  color: var(--color-blue);
}

.text-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.nation, .vision {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-green);
  width: 120%;
  padding: 5px 10px;
  margin-bottom: 5px;
  font-size: 16px;
  color: var(--color-white-front);
}

.vision {
  background-color: var(--color-orange-brown);
}

.signature-box {
  margin-top: 8px;
  margin-bottom: 65px;
  padding: 8px 10px 8px 10px;
  border: 2px solid var(--color-page-slice); 
  width: 84%;
  height: 107px;
}

.signature-text {
  font-size: 14px;
  color: var(--color-brown);
  padding: 0;
  margin: 0;
}

.details-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 107%;
  height: 100%;
  border: 2px solid var(--color-page-slice);
}

.details-toggle-buttons {
  display: flex;
  background-color: var(--color-yellow);
  border-radius: var(--round-edge);
  margin: 15px;
  user-select: none;
  font-family: "Roboto", sans-serif;
  padding: 2.5px;
}

.toggle-button {
  background-color: transparent;
  width: 160px;
  border: none;
  padding: 6px;
  font-size: 14px;
  text-align: center;
  cursor: var(--genshin-cursor);
  font-family: "Hanyi Wenhei", sans-serif;
  border-radius: calc(var(--round-edge) + 2px);
  color: var(--color-white-front);
}

.toggle-button.active {
  font-weight: 700;
  color: var(--color-brown);
  background-color: var(--color-white-front);
}

.info-container {
  display: flex;
  gap: 12px;
  margin-top: 15px;
}

.info-box {
  background-color: var(--color-characters-section);
  border: 2px solid var(--color-yellow);
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 170px;
  height: 60px;
}

.info-box img {
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  filter: brightness(93%);
}

.title-value {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.info-title {
  font-size: 15px;
  color: var(--color-blue);
  margin-bottom: 5px;
}

.info-value {
  font-size: 23px;
  font-weight: bold;
  color: var(--color-blue);
}

.caption {
  display: flex;
  margin: 20px auto 5px 15px;
}

.caption img {
  width: 20px;
  height: 20px;
  filter: brightness(85%);
}

.caption span {
  font-size: 17px;
  color: var(--color-dark-brown);
  margin-left: 5px;
}

.main-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.detail-line {
  display: flex;
  justify-content: space-between;
  width: 90%;
  font-size: 15px;
  margin-bottom: 8px;
  background: linear-gradient(to right, rgba(215, 194, 161, 255), rgba(220, 203, 167, 0.1));
  padding: 2px 4px;
}

.detail-line:last-child {
  margin-bottom: 0;
}

.span-label {
  color: var(--color-white-front);
}

.talents {
  display: flex;
  gap: 10px;
  margin-top: 8px;
}

.talent-containers img {
  width: 70px;
  font-size: 12px;
}

.talent-button:hover {
  filter: brightness(0.8);
}

.cons-box {
  width: 355px;
}

.cons-box img {
  width: 90px;
  height: 90px;
  filter: brightness(100%);
}

.cons-box .title-value .info-value {
  font-size: 20px;
}

.cons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin: 15px 0 0 0;
  max-width: 330px;
  margin-left: auto;
  margin-right: auto;
}

.cons-container {
  width: calc((100% / 3) - 10px);
  box-sizing: border-box;
}

.cons-button {
  border: none;
  background-color: transparent;
  border-radius: 50%;
  cursor: var(--genshin-cursor);
  position: relative;
}

.cons-button:active img {
  filter: brightness(50%);
}

.cons-container img {
  border: 5px solid var(--color-yellow);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  font-size: 12px;
}

.cons-container img:hover {
  border: 5px solid var(--color-brown);
}

.cons-container span {
  font-size: 14px;
  color: var(--color-blue);
  white-space: nowrap;
  overflow: hidden;
}

.cons-img-title {
  display: flex;
  align-items: center;
  gap: 15px;
}

.cons-img-title img {
  width: 70px;
  height: 70px;
}

.cons-img-title h2 {
  margin: 0;
}

.close-button {
  position: absolute;
  top: -20px;
  right: -25px;
  cursor: var(--genshin-cursor);
  border-radius: 50%;
  border: none;
  background-color: transparent;
}

.close-button img {
  width: 50px;
  border-radius: 50%;
  margin: 0;
}

.close-button img:hover {
  filter: brightness(95%);
}

.close-button img:active {
  filter: brightness(80%);
}
