@import url("../../styles/shared/shared.css");

@media (max-width: 768px) {
  body {
    flex-direction: column;
    height: auto;
    overflow-y: auto;
  }

  .book-container {
    flex-direction: column;
    width: 90%;
    height: auto;
    padding: 10px;
    margin: 20px;
  }

  .book-container::before, .book-container::after {
    display: none;
  }

  .left-page, .right-page {
    width: 100%;
    padding: 10px;
    height: 500px;
    margin: 20px 0;
  }

  .return-container {
    top: 30px;
    right: 20px;
    position: fixed;
  }

  .profile-card {
    width: 100%;
    height: auto;
  }

  .details-card {
    width: 100%;
  }

  .detail-line {
    font-size: 14px;
  }

  .toggle-button {
    width: 140px;
  }

  .info-box {
    width: 145px;
    height: 50px;
  }

  .info-box img {
    width: 65px;
    height: 65px;
  }

  .cons-box {
    width: 300px;
  }

  .cons {
    gap: 10px;
  }

  .overlay-content {
    width: 80%;
    font-size: 12px;
    padding: 20px;
  }
}
