@import url("/styles/shared/shared.css");

@media screen and (max-width: 768px) {
  body {
    flex-direction: column;
    height: auto;
    overflow-y: auto;
  }

  .book-container {
    flex-direction: column;
    width: 90%;
    height: auto;
    padding: 10px;
  }

  .book-container::before, .book-container::after {
    display: none;
  }

  .left-page, .right-page {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }

  .return-container {
    top: 10px;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  .profile-card {
    width: 100%;
    height: auto;
  }

  .info-box img {
    width: 60px;
    height: 60px;
  }

  .talents img, .cons-container img {
    width: 50px;
    height: 50px;
  }

  .info-container {
    flex-direction: column;
    gap: 20px;
  }

  .cons {
    gap: 10px;
  }
}
